# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL
5. Julia
6. Scala

**Objectives:**

- Create a Jupyter Notebook
- Create markdown cells with different headings
- List data science languages
- List data science libraries
- Create Tables
- Introduce basic arithmetic

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.
6. Scikit-Learn.
7. TensorFlow.
8. Matplotlib.

|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|Rstudio|
|Apache zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

1. Addition
 - result = 5+3 ->  **result = 8**

2. Subtraction
 - result = 5-3 ->  **result = 2**
 
3. Multiplication
 - result = 5*3 ->  **result = 15**
 
4. Division
 - result = 5+3 ->  **result = 1.6666666666666667**

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Zerihun Girma